@using byteCrazy.Models
@model LoginViewModel
@{
    ViewBag.Title = "byteCrazy";
}
<style>
.select-box {
    position: relative;
}
.select-box select {
    background-color: #ebe9e9;
    height: 31px;
    border: none;
    border-radius: 7px;
    padding: 0 10px;
    margin-right: 10px;
}
.search-button {
    background-color: #009fe9;
    color: white;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 30px;
    height: 30px;
    padding: 0 15px;
    border-radius: 18px;
    cursor: pointer;
}
.select-box {
    margin-bottom: 10px;
}
.card-list .card {
    width: 320px;
    float: left;
    margin: 30px;
    background-color: #f1e2e2;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.card-list .card img {
    width: 300px;
    height: 245px;
    display: block;
}
.card-list .card p {
    font-size: 18px;
    margin-bottom: 0;
    line-height: 32px;
}
.clear {
    clear: both;
}
.card-list .card:hover {
    transform: scale(1.1); /* 鼠标悬浮时放大1.1倍 */
}
</style>

<h3 style=" margin-bottom: 20px; ">Search results for computer​</h3>
<div class="select-box">
<select name="Categories" id="Categories">
    <option value="Categories">Categories</option>
    <option value="Categories">Categories</option>
    <option value="Categories">Categories</option>
    <option value="Categories">Categories</option>
    <option value="Categories">Categories</option>
    <option value="Categories">Categories</option>
    <option value="Categories">Categories</option>
    <option value="Categories">Categories</option>
    <option value="Categories">Categories</option>
</select>
<select name="Latest" id="Latest">
    <option value="Latest">Latest</option>
    <option value="Categories">Categories</option>
    <option value="Categories">Categories</option>
    <option value="Categories">Categories</option>
    <option value="Categories">Categories</option>
    <option value="Categories">Categories</option>
    <option value="Categories">Categories</option>
    <option value="Categories">Categories</option>
    <option value="Categories">Categories</option>
</select>
<select name="Location" id="Location">
    <option value="Location">Location</option>
    <option value="Categories">Categories</option>
    <option value="Categories">Categories</option>
    <option value="Categories">Categories</option>
    <option value="Categories">Categories</option>
    <option value="Categories">Categories</option>
    <option value="Categories">Categories</option>
    <option value="Categories">Categories</option>
    <option value="Categories">Categories</option>
</select>
<select name="Price" id="Price">
    <option value="Price">Price</option>
    <option value="Categories">Categories</option>
    <option value="Categories">Categories</option>
    <option value="Categories">Categories</option>
    <option value="Categories">Categories</option>
    <option value="Categories">Categories</option>
    <option value="Categories">Categories</option>
    <option value="Categories">Categories</option>
    <option value="Categories">Categories</option>
</select>
<div class="search-button">Search</div>
</div>
<div class="card-list">
    <div class="card">
        <img src="https://cunchu.site/temp/byteCrazy/3.jpg">
        <p>Awesome Budget 1080p Gaming PC​</p>
        <p>$400​​</p>
        <p>Newcastle | 3km​</p>
    </div>
    <div class="card">
        <img src="https://cunchu.site/temp/byteCrazy/3.jpg">
        <p>Awesome Budget 1080p Gaming PC​</p>
        <p>$400​​</p>
        <p>Newcastle | 3km​</p>
    </div>
    <div class="card">
        <img src="https://cunchu.site/temp/byteCrazy/3.jpg">
        <p>Awesome Budget 1080p Gaming PC​</p>
        <p>$400​​</p>
        <p>Newcastle | 3km​</p>
    </div>
    <div class="card">
        <img src="https://cunchu.site/temp/byteCrazy/3.jpg">
        <p>Awesome Budget 1080p Gaming PC​</p>
        <p>$400​​</p>
        <p>Newcastle | 3km​</p>
    </div>
    <div class="card">
        <img src="https://cunchu.site/temp/byteCrazy/3.jpg">
        <p>Awesome Budget 1080p Gaming PC​</p>
        <p>$400​​</p>
        <p>Newcastle | 3km​</p>
    </div>
    <div class="card">
        <img src="https://cunchu.site/temp/byteCrazy/3.jpg">
        <p>Awesome Budget 1080p Gaming PC​</p>
        <p>$400​​</p>
        <p>Newcastle | 3km​</p>
    </div>
    <div class="card">
        <img src="https://cunchu.site/temp/byteCrazy/3.jpg">
        <p>Awesome Budget 1080p Gaming PC​</p>
        <p>$400​​</p>
        <p>Newcastle | 3km​</p>
    </div>
    <div class="card">
        <img src="https://cunchu.site/temp/byteCrazy/3.jpg">
        <p>Awesome Budget 1080p Gaming PC​</p>
        <p>$400​​</p>
        <p>Newcastle | 3km​</p>
    </div>
    <div class="card">
        <img src="https://cunchu.site/temp/byteCrazy/3.jpg">
        <p>Awesome Budget 1080p Gaming PC​</p>
        <p>$400​​</p>
        <p>Newcastle | 3km​</p>
    </div>
    <div class="card">
        <img src="https://cunchu.site/temp/byteCrazy/3.jpg">
        <p>Awesome Budget 1080p Gaming PC​</p>
        <p>$400​​</p>
        <p>Newcastle | 3km​</p>
    </div>
    <div class="card">
        <img src="https://cunchu.site/temp/byteCrazy/3.jpg">
        <p>Awesome Budget 1080p Gaming PC​</p>
        <p>$400​​</p>
        <p>Newcastle | 3km​</p>
    </div>
    <div class="card">
        <img src="https://cunchu.site/temp/byteCrazy/3.jpg">
        <p>Awesome Budget 1080p Gaming PC​</p>
        <p>$400​​</p>
        <p>Newcastle | 3km​</p>
    </div>
    <div class="clear"></div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}