@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Our Website!</h1>
    <p class="lead">Explore our products and services.</p>
    <p><a class="btn btn-primary btn-lg" href="#">Learn more</a></p>
</div>

<!-- 导航栏代码 -->
<ul class="nav navbar-nav">
    <li>
        <a href="@Url.Action("Index", "Home")">Home</a>
    </li>
    <li>
        <a href="@Url.Action("Products", "Product")">Products</a>
    </li>

    <!-- 个人中心按钮 -->
    <li class="nav-item text-center">
        <a href="@Url.Action("UserCenter", "Account")">个人中心</a>
    </li>

    <li>
        <a href="@Url.Action("Contact", "Home")">Contact</a>
    </li>
</ul>

<!-- 页面内容 -->
<div class="row">
    <div class="col-md-4">
        <h2>Section 1</h2>
        <p>Details about section 1...</p>
        <p><a class="btn btn-default" href="#">View details »</a></p>
    </div>
    <div class="col-md-4">
        <h2>Section 2</h2>
        <p>Details about section 2...</p>
        <p><a class="btn btn-default" href="#">View details »</a></p>
    </div>
    <div class="col-md-4">
        <h2>Section 3</h2>
        <p>Details about section 3...</p>
        <p><a class="btn btn-default" href="#">View details »</a></p>
    </div>
</div>
