@using byteCrazy.Models
@model LoginViewModel
@{
    ViewBag.Title = "byteCrazy";
}
<style>
    .swiper-slide img {
        width: 100%;
        height: 100%;
    }
    .mySwiper {
    }
    .card-item {
        width: 340px;
        border-radius: 5px;
        height: 147px;
        margin-bottom: 10px;
        background-size: cover;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition-duration: 0.5s;
    }
    .card-item p {
        position: absolute;
        bottom: -10px;
        background: rgb(0, 0, 0, 0.6);
        color: white;
        width: 100%;
        line-height: 33px;
        padding: 0 2%;
        font-size: 18px;
        
    }
    .card-box-2 .card-item {
        margin-right: 20px;
        display: inline-block;
    }
    footer {
        width: 1100px;
        margin: 0 auto;
    }
    .card-item:hover {
        transform: scale(1.01); /* 鼠标悬浮时放大1.1倍 */
    }
    .swiper-pagination {
        bottom: 20px !important;
    }
    .to-box {
        display: flex;
        justify-content: space-between;
    }
    .swiper {
        width: 780px;
        height: 460px;
    }
    .card-box-3 {
        display: flex;
        width: 1440px;
    }
</style>
<link rel="stylesheet" href="https://cunchu.site/temp/byteCrazy/swiper-bundle.min.css" />
<!-- Swiper JS -->
<script src="https://cunchu.site/temp/byteCrazy/swiper-bundle.min.js"></script>
<div class="to-box" style="">
    <div class="swiper-box" style=" position: relative; ">
        <div class="swiper mySwiper" style="">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="https://cunchu.site/temp/byteCrazy/1.jpg"></div>
                <div class="swiper-slide"><img src="https://cunchu.site/temp/byteCrazy/2.webp"></div>
                <div class="swiper-slide"><img src="https://cunchu.site/temp/byteCrazy/3.jpg"></div>
                <div class="swiper-slide"><img src="https://cunchu.site/temp/byteCrazy/4.jpg"></div>
                <div class="swiper-slide"><img src="https://cunchu.site/temp/byteCrazy/5.webp"></div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="card-box">
        <div class="card-item" onclick="location.href='/Home/List'" style="background-image: url('https://cunchu.site/temp/byteCrazy/11.webp');"><p>Need to sell and item?​</p></div>
        <div class="card-item" onclick="location.href='/Home/List'" style="background-image: url('https://cunchu.site/temp/byteCrazy/22.png');"><p>New Student?​​</p></div>
        <div class="card-item" onclick="location.href='/Home/List'" style="background-image: url('https://cunchu.site/temp/byteCrazy/23.png');"><p>How to use?​​</p></div>
    </div>
    
</div>
<h2 style=" color: #5555c9; font-weight: bold; line-height: 44px; ">Categories</h2>
<div class="card-box-2" style="overflow: auto;margin-top: 25px;">
    <div class="card-box-3" style="">
        <div class="card-item" onclick="location.href='/Home/List'" style="background-image: url('https://cunchu.site/temp/byteCrazy/24.png');"><p>Browse All Products​​</p></div>
        <div class="card-item" onclick="location.href='/Home/List'" style="background-image: url('https://cunchu.site/temp/byteCrazy/25.png');"><p>Clothes​​​</p></div>
        <div class="card-item" onclick="location.href='/Home/List'" style="background-image: url('https://cunchu.site/temp/byteCrazy/26.png');"><p>Renting​​​</p></div>
        <div class="card-item" onclick="location.href='/Home/List'" style="background-image: url('https://cunchu.site/temp/byteCrazy/27.png');"><p>Electronics​​​</p></div>
    </div>
    
</div>
    

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
        pagination: {
            el: ".swiper-pagination",
            loop: true,
            autoplay:true
        },
        });
    </script>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}